* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
:root {
	--font-size: 18px;
	--font-size-second: 36px;
	--background-color: #4e4e4e;
	--background: #f1f1f1;
	--font-color: #ffffff;
	--font-color-second: #000000;
	--font-weight: 700;
	--font-weight-second: 400;
}
/* navigation */
.nav-container {
	display: flex;
	width: 960px;
	height: 100%;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	color: var(--font-color);
	font-weight: var(--font-weight);
}
nav {
	background-color: var(--background-color);
	padding-top: 15.5px;
	padding-bottom: 15.5px;
	height: calc (100vh - 50px);
}
.nav-menu__item {
	float: left;
	list-style-type: none;
}
.nav-menu__link {
	margin-left: 46px;
	text-decoration: none;
	list-style-type: none;
	color: var(--font-color);
}
/* header  */
.header-container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 960px;
	height: 100%;
	color: var(--font-color);
}
.header-title {
	padding-top: 178px;
	width: 550px;
	z-index: 1;
}
header {
	background-image: url(/img/background-img.svg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 574px;
}
.header-shadow {
	position: absolute;
	width: 100%;
	height: 574px;
	background: rgba(0, 0, 0, 0.15);
}
.header-subtitle {
	padding-top: 62px;
	padding-bottom: 42px;
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	z-index: 1;
}
.btn-offer {
	width: 164px;
	height: 40px;
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	color: var(--font-color);
	background-color: transparent;
	border: 2px white solid;
	transition: 1s ease-in-out;
	z-index: 1;
}
.btn-offer:hover {
	background-color: white;
	color: var(--font-color-second);
}
/* main  */
.first-article {
	width: 960px;
	margin: 0 auto;
}
.first-container__title {
	font-size: var(--font-size-second);
	font-weight: var(--font-weight);
	color: #152d41;
	padding-top: 51px;
}
.first-container__text {
	font-size: var(--font-size);
}
.bold-text {
	font-weight: var(--font-weight);
}
.img-circle:nth-child(odd) {
	display: flex;
	align-items: right;
}
.first-container__img {
	background-image: url(img/pracownik-1.png);
	background-position: top;
	background-size: cover;
	width: 197px;
	height: 197px;
	border-radius: 50%;
}
.second-img {
	background-image: url(img/pracownik-2.jpg);
	background-position: top;
	background-size: cover;
	width: 197px;
	height: 197px;
	border-radius: 50%;
}
.first-container__title {
	padding-top: 51px;
	padding-bottom: 76px;
}
.first-container__text {
	padding-top: 104px;
	padding-bottom: 104px;
}
/* second article */

/* footer  */
footer {
	display: flex;
	text-align: left;
	width: 100%;
	height: 71px;
	background-color: var(--background-color);
}
.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 960px;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: var(--font-color);
}
.footer__icon {
	font-size: 31px;
}
.footer__copyright {
	color: var(--font-color);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
}
